<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragments :: head}">
	</head>
	
	<body>
	
		<div th:replace="~{fragments :: navbar}"></div>
	
		<div class="main">
			<h1>Questionário</h1>
			<p>
				O seu problema é de qual natureza?
			</p>
			<p>
				<ul>
					<li>
						Eu preciso fazer uma atividade mas não tenho os equipamentos necessários.<br>
						Exemplo: Me falta um computador, uma impressora ou algo mais específico como uma impressora 3d.
					</li>
					<li>
						Eu tenho o equipamento necessário para realizar meu trabalho mas me falta algum recurso estrutural.<br>
						Exemplo:<br>
						<ul>
							<li>
								Preciso de acesso à internet mas não tenho onde moro
							</li>
							<li>
								Preciso de acesso à internet banda larga por qualquer motivo
							</li>
							<li>
								Ou mesmo "não tenho acesso à energia elétrica"
							</li>
						</ul>
					</li>
					<li>
						Eu tenho os recursos necessários à minha disposição mas me falta saber como utilizar essas ferramentas.
					</li>
					<li>
						Duas ou três opções das opções anteriores.
					</li>
				</ul>
			</p>
			
			
		</div>
		<div class="clique-aqui">
			<button type="button" class="btn btn-primary btn-lg btn-block">Clique aqui para começar</button>
		</div>
	
		<th:block th:include="~{fragments :: bootstrapscripts}"></th:block>
	</body>

</html>