.titulo {
	font-size: 26px;
	text-decoration: none;
}

.main {
	margin-top: 1.5em;
	margin-left: 10%;
	margin-right: 10%;
	
	font-size: 20px;
	text-align: justify;
}

.main ul {
	list-style-type: none;
}

.clique-aqui {
	margin-top: 1.5em;
	text-align: center;
}