<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}">
</head>

<body>

	<div th:replace="~{fragments :: navbar}"></div>

	<form action="/problema/add" method="post">

		<div class="main">
			<h1>Problemas</h1>
			<p>Para cada tipo de problema que você enfrenta, descreva a situação em detalhes</p>
	
			<ul>
				<li th:each="tipo, iStat : ${tipos}">
					<div class="form-group">
						
						<label th:text="${'Problema ' + iStat.count}"></label>
						<br>
						<input type="hidden" th:value="${tipo.id}" name="idTipo">
						
						<label for="tipo" class="form-label">Tipo:</label>
						<input type="text" class="form-control" id="tipo" name="tipo" th:value="${tipo.titulo}">

						<label for="descricao" class="form-label">Descrição:</label>
						<textarea cols="30" rows="10" class="form-control" id="descricao" name="descricao"></textarea>
						
						<label for="estado" class="form-label">Estado:</label>
						<select class="form-control" id="estado" name="estado" >
							<option selected>Escolha um estado</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
							<option value="DF">Distrito Federal</option>
							
						</select>

						<label for="cidade" class="form-label">Cidade:</label>
						<input type="text" class="form-control" id="cidade" name="cidade" >						
						
						<hr>
					</div>
				</li>
			</ul>

		</div>
		
		<div class="clique-aqui">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Prosseguir</button>
		</div>
	
	</form>


	<th:block th:include="~{fragments :: bootstrapscripts}"></th:block>
</body>

</html>