<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}">
</head>

<body>

	<div th:replace="~{fragments :: navbar}"></div>

	<div class="main">
		<h1>Problemas</h1>
		<form action="/problema/mais-detalhes" method="post">

			<ul>
				<li th:each="prob : ${problemas}">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" th:value="${prob.id}" th:id="${'p' + prob.id}" name="problemaList">
						<label class="form-check-label" th:for="${'p' + prob.id}" th:text="${prob.natureza + '/' + prob.titulo}">
							Recurso/Não tenho blablabla
						</label>
					</div>
				</li>
			</ul>


	</div>
	<div class="clique-aqui">
		<button type="submit" class="btn btn-primary btn-lg btn-block">Prosseguir</button>
	</div>
	</form>

	<th:block th:include="~{fragments :: bootstrapscripts}"></th:block>
</body>

</html>